.onearticle{
    background-color: #D8D8D8;
    border-radius: 5px;
    width: 500px;
    padding: 5px;
    margin:10px;
}

.onearticle blockquote{
    text-align: right;
    font-style: italic;
    font-weight: 600;
}

.article_entete{
    display: flex;
    justify-content: space-between;
}