.listArticle{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#searchMenu{
    display: flex;
    justify-content: center;
}

#searchMenu #searchBar{
    width: 200px;
    margin-left: 10px;
    margin-top:-8px;
}

#searchMenu label{
    font-size: 18px;
    font-weight: bold;
    color:rgb(0, 101, 69);
}